.main{
    width: 100vw;
    min-height: 90vh;
    position: relative;
    margin-top: 118px;
    background-color: var(--color--page--primary);
    color: var(--color--font--primary);
}
@media only screen and (max-width : 720px) {
    .main{
        margin-top: 102px;
    }
}