.card,
.card a{
    text-decoration: none;
    display: flexbox;
    animation : animation .5s 0s ease-in-out forwards;
}
.card div{
    animation : animation 1s 0s ease-in-out forwards;
}

.card button{
    transition: all .5s ease-in-out;
}

.card button:hover{
    transform: rotate(1deg) scale(1.1);
}

@media only screen and (max-width : 500px) {
    .card button:hover{
        transform: none;
    }
}

@keyframes animation {
    0%{
        transform: translateY(-500px) scale(.5) ;
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0px) scale(1) ;
    }
}